/*  your css code here. If applicable */
table{
	border: 1px solid black;
	background-color: yellow;
	/* border-collapse: collapse; */
}
th, tr, td{
	text-align: center;
	border-collapse: collapse;
	border: 1px solid black;
}
caption{
	font-weight: bold;
	margin-bottom: 5px;
}